.list-friend__item-name {
	margin: .5rem;
	padding: .5rem 0 0 0 ; 
	font-weight: 700;
	width: 100%;
	
	span {
		font-weight: 100;
		font-size: 9px;
	}

	p {
		font-weight: 100;
		font-size: 12px;
	}
}