.my-button {
	display: inline-block;
	width: 80%;
	height: 60%;
	color: #f1f1f1;
	display: flex;
	flex-flow: column wpar;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition: .5s all linear;

	&:hover {
		transform: scale(1.2);
		transition: .5s all linear;
		color: #555;
	}
}