.list-friend__item {
	margin: 1rem;
	border: .2rem solid #939393;
	transition: .5s all linear;
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
		background: #999;
		border: .2rem solid #fff;
		transition: .5s all linear;
		color: #fff;
	}
}