.warning-window {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 25rem;
	height: 15rem;
	border: .2rem solid #4d7e29;
	z-index: 2;
	background: #999;
}