.enter-app-button {
	color: #000;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	width: 10rem;
	padding: 1rem;
	font-size: 18px;
	border: .2rem solid #4d7e29;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}