@import '_fonts';
@import '_reset';

$color-blue: #253276;
$color-red: #b5050e;

body {
	display: flex;
	justify-content: center;
	background-color: #fafafa;
	font-family: $font-project;
	line-height: 1.25;
}

input [type="checkbox"], input [type="radio"] {
	display: none;
}