@font-face {
      font-family: 'FontHeaderIcon';
      src: url('../fonts/header-font-icon/fontello.ttf?38538675') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

$font-project: Arial,sans-serif;
$font-size: 1em;