.block-news__head__navigation-button__next {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	background: url('../../public/images/arrow-right_l.svg') no-repeat center center;
	background-size: 100% auto;
	cursor: pointer;
}