.block-news__head__navigation-button__prev {
	display: inline-block;
	position: absolute;
	right: 3%;
	width: 1em;
	height: 1em;
	background: url('../../public/images/arrow-left_b.svg') no-repeat center center;
	background-size: 100% auto;
	cursor: pointer;
}