@import '_block-service__content';
@import '_block-service__input';
@import '_block-service__label';

.block-service {
	position: relative;
	padding: 1em;
	width: 37.5%;
	height: 22em;
	display: flex;
}