@import '_container-header__menu-item';
@import '_container-header__menu-burger';

.container-header__menu {
  	display: flex;
  	flex-flow: row wrap;
  	width: 100%;
  	color: #253276;
  	background-color: #f5f5f5;
  	overflow: hidden;
}
