@import '_container-content__column-navigation__slider-name__link';

.container-content__column-navigation__slider-name {
	height: 1.7em;
	width: 100%;
	display: inline-block;
	border-bottom: .3em solid #c9ccdd;
}