@import '_container-header__menu-item__label__link-static';

.container-header__menu-item__label {
	display: inline-block;
    padding: 1em 1.6em;
    cursor: pointer;
      
    &:hover {
    	text-decoration: underline;
    }
}
