@import '_menu-list__item';
@import '_container-header__menu-list';
@import '_menu-burger.scss';

.container-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #5f3697;
  background-color: #f5f5f5;
}