@import '_container-header__menu-item__content__chapter-block__section-list-item';

.container-header__menu-item__content__chapter-block__section-list {
	padding: 0;
    margin: 0;
    list-style: none;
}