@import '_container-content__column-news__foto-block__link';
@import '_container-content__column-news__foto-block__containers';

.container-content__column-news__foto-block {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}