.container-content__column-news__path__prev--background {
	width: 1em;
	height: 100%;
	border: 1px solid red;
	background: url('../../public/images/arrow-right_b.svg') no-repeat center left;
		background-size: 100% auto;	
}