@import '_container-content__column-navigation__slider__content-full__image';
@import '_container-content__column-navigation__slider__content-full__name';

.container-content__column-navigation__slider__content-full {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
}