.conatiner-footer__to-up {
	display: inline-block;
	text-align: right;
	padding-right: 1.5em;
	margin: 1em 1%;
	width: 97.5%;
	font-size: $font-size*.9;
	box-sizing: border-box;
	color: #c9cdde;
	background: url('../../public/images/up-arrow.svg') no-repeat right center;
	background-size: 1.5% auto;

	&:hover {
		text-decoration: underline;
	}
}