@import '_container-content__column-navigation__article__list-item__link';

.container-content__column-navigation__article__list-item {
	margin-bottom: .5em;
	padding-left: 2em;
	background: url('../../public/images/right-arrow.svg') no-repeat 5.5% 10%;
	background-size: 4% auto;
}