@import '_container-content__column-news__path__prev-link';
@import '_container-content__column-news__path__prev--background';

.container-content__column-news__path__prev {
	border: 1px solid red;
	display: inline-block;
	padding-left: 1em;
}