@import '_container-header__logo-name';
@import '_container-header__logo-options';

.container-header__logo {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	color: #003684;
	background-color: #c7d9ff;
}