.container-header__line {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: .3em;

	.container-header__line-blue {
		width: 70%;
		height: 100%;
		background-color: #253276;
	}

	.container-header__line-red {
		width: 30%;
		height: 100%;
		background-color: #b5050e;
	}
}