@import '_container-header__menu-item__content__chapter-block';
@import '_container-header__menu-item__content__chapter-block__section';
@import '_container-header__menu-item__content__chapter-image';

.container-header__menu-item__content__chapter {
    top: 3.25em;
    left: 0;
    padding-left: 30%;
    display: none;
    flex-flow: column wrap;
    width: 100%;
    height: 35em;
}   