@import '_lang-menu__select__list';
@import '_lang-menu__select__list-item__secet-lang';
@import '_text-bold';

.lang-menu__select {
  	position: absolute;
  	margin-top: 1.5rem;    
  	margin-left: -3rem;   /*использовал отрицательное значение, знаю что лучше не использовать */
  	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
 	background: #fff;
	width: 10em;
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 2;
}