.lang-menu__label {
	cursor: pointer;
	display: inline-block;
	width: 3em;
	margin: 0 1em 0 1em;
	background: url('../../public/images/icon-down.png') no-repeat right center;
	background-size: 30%  auto;

	&:hover {
		text-decoration: underline;
	}
}