.menu-list__item {
	cursor: pointer;
	display: inline-block;
	padding: .9em 1.5em;
	border: 0px solid red;

	&:hover {
		text-decoration: underline;
	}

	.list__item__input {
  		display: none;
	}

	.list__item__label:hover {
  		cursor: pointer;
  		text-decoration: underline;
	}
}