.menu-burger {
	border: 0px solid red;
	padding: .1em .5em 0 .5em;

	.menu-burger__input {
  		display: none;
	}

	.menu-burger__label {
  		cursor: pointer;

  		.menu-burger__label-image {
			padding-top: .1em;
			width: 2.5em;
			height: 2.5em;
		}
	}
}