@import '_list-item__link';

.section-menu__list-item {
	padding: .8em 0 .8em .5em;
	border-bottom: 1px solid #e0e0e0;
	background: url('../../public/images/right-arrow.svg') 98% 50% no-repeat;
	background-size: 6% auto;


	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	
	&:first-child {
		padding-top: 1em;
	}
}