.section-content-block__link {
	color: #003685;
	padding: .5em 0 .5em 0;
	font-size: $font-size*0.9;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:first-child {
		margin-top: 2em;
	}

	&:last-child {
		margin-bottom: 2em;
	}
}