.block-about-us {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../images/bg-aboutus.png') no-repeat center center;
	background-size: 164%;
}