.block-make-up-school {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../images/palete.png') no-repeat 145% 92.5%, url('../images/sheet5.png') no-repeat -10% 90%, url('../images/palet-circle.png') no-repeat -30% 0%;
	background-size: auto;
}