.block-sign-up {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: url('../images/bg-sign-up.png') no-repeat center 67%;
	background-size: 110% auto;	
}