@font-face {
  font-family: "FontHeaderIcon";
  src: url("../fonts/header-font-icon/fontello.ttf?38538675") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FooterHeaderIcon";
  src: url("../fonts/footer-font-icon/fontello.ttf?38538675") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.1);
  width: 60em;
  margin: 0.5em 0 0 0;
}

.container-header {
  width: 100%;
  font-size: 0.9em;
}

.container-blocks {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-area: "container-slider container-service" "container-news container-immobiliensuche";
  width: 100%;
  border: 1px solid red;
}

.conatiner-footer {
  background: #253276;
  color: #c9cdde;
}

.container-header__line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 0.3em;
}
.container-header__line .container-header__line-blue {
  width: 70%;
  height: 100%;
  background-color: #253276;
}
.container-header__line .container-header__line-red {
  width: 30%;
  height: 100%;
  background-color: #b5050e;
}

.logo-name__image {
  padding: 0.5em 1em;
  width: 8em;
  height: 3em;
}

.container-header__logo-name {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-options__search {
  padding: 0.5em;
  height: 2em;
  width: 100%;
  border: 0;
  outline: none;
}

.logo-options__submit {
  height: 2em;
  width: 3em;
  border: 0;
  background: #fff;
  font-family: "FontHeaderIcon";
  font-style: normal;
  cursor: pointer;
}

.lang-menu__label {
  cursor: pointer;
  display: inline-block;
  width: 3em;
  margin: 0 1em 0 1em;
  background: url("../../public/images/icon-down.png") no-repeat right center;
  background-size: 30% auto;
}
.lang-menu__label:hover {
  text-decoration: underline;
}

.lang-menu__select {
  position: absolute;
  margin-top: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  width: 10em;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.lang-menu__select .select-de, .lang-menu__select .select-en, .lang-menu__select .select-fr, .lang-menu__select .select-it, .lang-menu__select .select-cn, .lang-menu__select .select-pl, .lang-menu__select .select-ru, .lang-menu__select .select-tr {
  width: 100%;
  margin: 0.5em 0;
}
.lang-menu__select .select-de .select-lang__right, .lang-menu__select .select-en .select-lang__right, .lang-menu__select .select-fr .select-lang__right, .lang-menu__select .select-it .select-lang__right, .lang-menu__select .select-cn .select-lang__right, .lang-menu__select .select-pl .select-lang__right, .lang-menu__select .select-ru .select-lang__right, .lang-menu__select .select-tr .select-lang__right {
  display: inline-block;
  width: 20%;
}
.lang-menu__select .select-de .select-lang--left, .lang-menu__select .select-en .select-lang--left, .lang-menu__select .select-fr .select-lang--left, .lang-menu__select .select-it .select-lang--left, .lang-menu__select .select-cn .select-lang--left, .lang-menu__select .select-pl .select-lang--left, .lang-menu__select .select-ru .select-lang--left, .lang-menu__select .select-tr .select-lang--left {
  text-align: right;
  padding-right: 1.5em;
}
.lang-menu__select .select-de .select-lang, .lang-menu__select .select-en .select-lang, .lang-menu__select .select-fr .select-lang, .lang-menu__select .select-it .select-lang, .lang-menu__select .select-cn .select-lang, .lang-menu__select .select-pl .select-lang, .lang-menu__select .select-ru .select-lang, .lang-menu__select .select-tr .select-lang {
  display: inline-block;
  width: 50%;
}
.lang-menu__select .select-de .select-lang:hover, .lang-menu__select .select-en .select-lang:hover, .lang-menu__select .select-fr .select-lang:hover, .lang-menu__select .select-it .select-lang:hover, .lang-menu__select .select-cn .select-lang:hover, .lang-menu__select .select-pl .select-lang:hover, .lang-menu__select .select-ru .select-lang:hover, .lang-menu__select .select-tr .select-lang:hover {
  cursor: pointer;
  text-decoration: underline;
}
.lang-menu__select .select-de {
  font-weight: 700;
}

.logo-options__lang-menu {
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #000;
}
.logo-options__lang-menu .lang-menu__checkbox {
  display: none;
}
.logo-options__lang-menu .lang-menu__checkbox:checked ~ .lang-menu__select {
  display: block;
}
.logo-options__lang-menu .lang-menu__checkbox:checked ~ .lang-menu__label {
  background: url("../../public/images/icon-up.png") no-repeat right center;
  background-size: 30% auto;
}

.logo-options__lang {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-options__lang .maps-link {
  color: #003684;
  margin-right: 1em;
}
.logo-options__lang .maps-link:hover {
  text-decoration: underline;
}
.logo-options__lang .maps-link .icon-location {
  padding: 0.5em;
  font-family: "FontHeaderIcon";
  font-style: normal;
}

.logo-options__form {
  margin-right: 1em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
  width: 12em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-header__logo-options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-header__logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #003684;
  background-color: #c7d9ff;
}

.menu-list__item {
  cursor: pointer;
  display: inline-block;
  padding: 0.9em 1.5em;
  border: 0px solid red;
}
.menu-list__item:hover {
  text-decoration: underline;
}
.menu-list__item .list__item__input {
  display: none;
}
.menu-list__item .list__item__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container-header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-burger {
  border: 0px solid red;
  padding: 0.1em 0.5em 0 0.5em;
}
.menu-burger .menu-burger__input {
  display: none;
}
.menu-burger .menu-burger__label {
  cursor: pointer;
}
.menu-burger .menu-burger__label .menu-burger__label-image {
  padding-top: 0.1em;
  width: 2.5em;
  height: 2.5em;
}

.container-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #5f3697;
  background-color: #f5f5f5;
}

.block-slider {
  height: 15em;
  padding: 1em;
  border: 1px solid red;
}

.block-service {
  padding: 1em;
  height: 15em;
  border: 1px solid red;
}

.block-news {
  padding: 1em;
  height: 10em;
  border: 1px solid red;
}

.block-immobiliensuche {
  height: 10em;
  padding: 1em;
  border: 1px solid red;
}

.separator__image {
  width: 96%;
  margin: 0 1em;
}

.container-news__section-name {
  width: 100%;
  font-weight: 700;
  padding: 0em 0 0.5em 0.8em;
  color: #b5050e;
  font-size: 1.2em;
}

.container-news__section-menu {
  width: 32.5%;
}

.section-menu__list {
  padding: 0 0.5em 0 0.5em;
}

.list-item__link {
  color: #003684;
}

.section-menu__list-item {
  padding: 0.8em 0 0.8em 0.5em;
  border-bottom: 1px solid #e0e0e0;
  background: url("../../public/images/right-arrow.svg") 98% 50% no-repeat;
  background-size: 6% auto;
}
.section-menu__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.section-menu__list-item:first-child {
  padding-top: 1em;
}

.content-block__image {
  margin: 0.8em;
}

.content-block__text-link {
  margin: 0.8em;
  font-size: 0.9em;
  color: #253276;
  font-weight: 700;
}
.content-block__text-link:hover {
  text-decoration: underline;
}

.text-info__link {
  color: #003684;
  padding-right: 1.5em;
  background: url("../../public/images/link-arrow.svg") 85% 50% no-repeat;
  background-size: 15% auto;
}
.text-info__link:hover {
  text-decoration: underline;
}

.content-block__text-info {
  font-size: 0.9em;
  margin: 0.8em 0 0 0.8em;
}

.content-block__text {
  width: 95%;
}

.block__text {
  margin-top: 1em;
}

.section-content-block__link {
  font-size: 0.9em;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  color: #003685;
  padding: 0.5em 0 0.5em 2em;
  background: url("../../public/images/right-arrow.svg") 4% center no-repeat;
  background-size: 3% auto;
}
.section-content-block__link:hover {
  text-decoration: underline;
}
.section-content-block__link:first-child {
  margin-top: 2em;
}

.block-list-items__data {
  width: 30%;
}

.block-list-items__link {
  width: 70%;
  color: #003684;
}
.block-list-items__link:hover {
  text-decoration: underline;
}

.section-content-block__list-items {
  border-top: 1px solid #e0e0e0;
  font-size: 0.9em;
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-content-block__list-items:first-child, .section-content-block__list-items:last-child {
  border-top: 0;
}

.section-content-block__list {
  padding: 0.7em;
  margin-bottom: 2em;
}

.block-list__link {
  font-size: 0.9em;
  padding-right: 1.5em;
  background: url("../../public/images/link-arrow.svg") 95% 50% no-repeat;
  background-size: 8% auto;
}
.block-list__link:hover {
  text-decoration: underline;
}

.section-content-others__links {
  font-size: 0.7em;
  color: #003586;
  padding: 0 1em 0 1em;
  border-right: 1px solid #000;
}
.section-content-others__links:hover {
  text-decoration: underline;
}

.section-content-others {
  margin: 0.5em 0 5em 0;
  width: 100%;
}

.section-content-block {
  width: 50%;
}

.container-news__section-content {
  width: 67.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.news__section-name--padding {
  padding-top: 2em;
}

.nth-child {
  margin: 1.5em 0 2em 0;
}

.news__section-border {
  border-bottom: 0 !important;
}

.container-news__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 1%;
  width: 98%;
  border-bottom: 2px solid #253276;
}

.conatiner-footer__to-up {
  display: inline-block;
  text-align: right;
  padding-right: 1.5em;
  margin: 1em 1%;
  width: 97.5%;
  font-size: 0.9em;
  box-sizing: border-box;
  color: #c9cdde;
  background: url("../../public/images/up-arrow.svg") no-repeat right center;
  background-size: 1.5% auto;
}
.conatiner-footer__to-up:hover {
  text-decoration: underline;
}

.footer__block-about__image {
  width: 9em;
  height: 3em;
}

.footer__block-about__text-head {
  font-size: 0.95em;
  font-weight: 700;
  padding: 1em 0;
}

.footer__block-about__text {
  font-size: 0.95em;
}

.footer__block-about__button {
  width: 12em;
  margin: 1.7em 0 3.5em 0;
  background: #253276;
  color: #c9cdde;
  border: 1px solid #c9cdde;
  padding: 0.5em;
  transition: 0.2s linear;
}
.footer__block-about__button:hover {
  cursor: pointer;
  border: 1px solid rgba(201, 205, 222, 0.8);
  color: rgba(201, 205, 222, 0.5);
}

.footer__block-about__social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer__block-about__social-link {
  color: #c9cdde;
  padding: 0.5em 0.5em;
  font-family: "FooterHeaderIcon";
  font-size: 1.5em;
}

.conatiner-footer__block-about {
  width: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.block-site-map__form-search {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0.5em;
}

.block-site-map__form-submit {
  height: 2.1em;
  width: 3em;
  border: 0;
  background: #fff;
  font-family: "FontHeaderIcon";
  font-style: normal;
  cursor: pointer;
}

.footer__block-site-map__form {
  width: 100%;
  margin-top: 0.25em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__block-site-map__menu {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__block-site-map__menu:last-child {
  border-top: 1px solid #c9cdde;
}

.footer__block-site-map__menu-nav {
  margin: 1em 0 0 0;
  width: 33.33%;
}

.block-site-map__menu-nav__list {
  padding-top: 0.5em;
}

.block-site-map__menu-nav__list-item {
  padding: 0.25em 0;
}

.block-site-map__menu-nav__list-item-link {
  color: #c9cdde;
  font-size: 0.9em;
  text-decoration: none;
}
.block-site-map__menu-nav__list-item-link:hover {
  text-decoration: underline;
}

.conatiner-footer__block-site-map {
  padding-left: 1.5em;
  width: 70%;
}

.conatiner-footer__blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em 3em 1em;
}

.footer__block-site-map__menu {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__block-site-map__menu:last-child {
  border-top: 1px solid #c9cdde;
}

/*# sourceMappingURL=main.css.map */
