.block-make-up-school__course-programm__info__class {
	font-family: $font-DINPro-Cond-Bold;
	font-size: 24pt;
	font-weight: 600;
	color: $bg-button;
	text-transform: uppercase;
	margin: 26px 0 19px 0;
}