.block-head__phone__number {
	font-family: $font-DINPro;
	font-size: $font-size*1.5;
	color: #000;
	margin-left: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		margin-right: 1rem;
	}
}