.block-sign-up__cotent__info {
	position: absolute;
    top: 50%;
    left: 65%;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}