.block-make-up-school__course-programm__info {
	width: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}