.block-make-up-school__feedback__form__submit {
	margin-top: 100px;
	margin-bottom: 50px;
	border-radius: 50px;
    color: #fff;
    font-size: 15pt;
    text-transform: uppercase;
    padding: 20px 70px;
    background: #ff6699;
    border: 0;
    box-shadow: 0 0 20px rgba(247, 122, 158, 0.5);
}