.block-make-up-school__feedback__form__input {
	width: 85%;
	height: 30px;
	margin: 15px;
	border: 0;
	border-bottom: 2px solid #000;
	padding: 7px 10px;
	font-size: $font-size*.8;
	font-family: $font-DIN-Pro-Medium;
}