.block-make-up-school__feedback {
	width: 100%;
	height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}