.serv-body {
	position: relative;

	&:before {
		content: "";
	    position: absolute;
	    height: 450px;
	    width: 450px;
	    left: 15%;
	    background: url('../images/body-serv.png') no-repeat center center;
	    background-size: 100% auto;
	} 
}