$font-size: 15pt;
$font-DINPro: 'DIN Pro Cond';
$font-DINPro-Cond-Bold: 'DIN Pro Cond Bold';
$font-DINPro-Cond-Reg: 'DIN Pro Cond Reg';
$font-VHF: 'Vaughan-HandstylishFont';
$font-DIN-Pro-Light: 'DIN Pro Light';
$font-DIN-Pro-Medium: 'DIN Pro Medium';

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINPro/DINPro-CondensedMedium.eot');
	src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
		url('../fonts/DINPro/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedMedium.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond Bold';
	src: url('../fonts/DINPro/DINPro-CondensedBold.eot');
	src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
		url('../fonts/DINPro/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedBold.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond Reg';
	src: url('../fonts/DINPro/DINPro-CondensedRegular.eot');
	src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
		url('../fonts/DINPro/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-CondensedRegular.woff') format('woff'),
		url('../fonts/DINPro/DINPro-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vaughan-HandstylishFont';
	src: url("../fonts/Vaughan-HandstylishFont (Demo) 2.otf") format("opentype");
}

@font-face {
	font-family: 'DIN Pro Light';
	src: url('../fonts/DINPro/DINPro-Light.eot');
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url('../fonts/DINPro/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Light.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Medium';
	src: url('../fonts/DINPro/DINPro-Medium.eot');
	src: local('DIN Pro Medium'), local('DINPro-Medium'),
		url('../fonts/DINPro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}