.block-tagline__text {
	height: 100%;
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: $font-size*1.6;
	font-weight: 600;
	font-family: $font-header;
}