.block-footer__media-facebook {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem; 
	background: $bg-media-footer url('../images/facebook-footer.svg') no-repeat center center;
	background-size: 50% auto;
	border-radius: 50%;
	border: .1rem solid $border-media-footer;

	&:hover {
		cursor: pointer;
	}
}