.block-header__content-menu__logo {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding-left: 3rem;
    align-items: center;
    color: $color-logo-name;
    font-size: $font-size*1.7;
    font-weight: 500;
    background: url('../images/circular-shape.svg') no-repeat left center;
    background-size: 13.5% auto;
}