@media screen and (max-width: 965px) {
	.container {
		width: 100%;
		margin: 0;
		padding: 0;

		.container-header {
			height: 4em ;

			.logo-name__image {
				width: 11em;
				margin: .25em 0;
				height: 3em;
			}

			.container-header__logo span {
				display: none;
			}

			.container-header__logo-options {
				display: none;
			}


			.container-header__menu-burger {
				display: inline-block;
			}

			.container-header__menu { 
				display: none;
				position: absolute;
				top: 4em;
				z-index: 30;
				width: 100%;

				.container-header__menu-item {
					display: flex;
					flex-flow: column wrap;
					box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
					
					.container-header__menu-item__label, .container-header__menu-item__content-nav__link {
						display: none;
					}

					.container-header__menu__link-burger {
						display: inline-block;
						width: 100%;
						padding: 1.5em;
						border-bottom: .1em solid #c1c1c1;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			#burger-menu:checked {

				&~.container-header__menu-burger {
					background: url('../../public/images/close.svg') no-repeat center center;
    				background-size: 40% auto;
				}

				&~.container-header__menu {
					display: inline-block;
				}
			}
		}

		.container-blocks {
			flex-flow: column wrap;
			align-items: center;

			.block-slider {
				max-width: 625px;
				min-width: 95%;
				padding: 1em 2em .5em 0em;
			}

			.block-service {
				display: none;
			}

			.block-news {
				max-width: 625px;
				min-width: 95%;
				padding: 0;
			
				.block-news__content {
					width: 290%;

					.block-news__content__block {
					    position: static;
					    margin-left: 2%;
					    width: 45%;
					}
				}
			}

			.block-immobiliensuche {
				width: 400px;
				padding: 0 2.5em 0 1em;
			}

			.input-prev:checked {
				&~.block-news__content {
					transform: translateX(0%);
				}

				&~.block-news__head__navigation-button__prev {
					background: url('../../public/images/arrow-left_l.svg') no-repeat center center;
					background-size: 100% auto;	
				}
			}

			.input-next:checked {
				&~.block-news__content {
					transform: translateX(-33.5%);
				}

				&~.block-news__head__navigation-button__next {
					background: url('../../public/images/arrow-right_b.svg') no-repeat center center;
					background-size: 100% auto;
				}
			}
		}
	
	/*Index page*/
		.container-news {
			width: 100%;
			overflow: hidden;

			.separator__image {
				padding: 0 .5em;
			}
			
			.container-news__section {
				display: flex;
				flex-flow: column wrap;
				justify-content: flex-start;
				width: calc(100% - 1em);
				margin-top: 1.5em;

				.container-news__section-name {
					display: none;
				}

				.container-news__section-name--mobile {
					display: block;
					font-size: $font-size;
					cursor: pointer;
				}

				#menu-ckeck1:checked~.container-news__section-menu, #menu-ckeck2:checked~.container-news__section-menu, #menu-ckeck3:checked~.container-news__section-menu, #menu-ckeck4:checked~.container-news__section-menu, #menu-ckeck5:checked~.container-news__section-menu, #menu-ckeck6:checked~.container-news__section-menu, #menu-ckeck7:checked~.container-news__section-menu {
					display: inline-block;
				}

				.container-news__section-menu {
					display: none;
					width: 100%;
				}

				.container-news__section-content {
					width: 100%;
					display: flex;
					flex-flow: column wrap;

					.section-content-block--wrap {
						flex-wrap: wrap !important;
					}

					.nth-child {
						margin: 0;
					}

					.section-content-block--wrap {
						padding-left: 0em;
					}
					
					.wrap2 {
						padding-left: 1.8em;
					}

					.section-content-block {
						width: 100%;
						display: flex;
						flex-flow: row no-wrap;
						justify-content: flex-start;
						
						.section-content-block__link-image {
							width: 15em;
	
							.content-block__image {
								margin: 0;
								padding: .5em;
								height: 100%;
								width: 100%;
							}
						}
						
						.content-block__text {
							text-align: left;
							margin: 0;
							padding: .5em 0;
						}

						.section-content-block__list {
							margin: 0;
							padding-top: 0;
						}
					}

					.section-content-others {
						margin-top: 2em;
						font-size: $font-size*1.2;
					}
				}
			}
		}
		
	/*Music page*/
		.container-content {
			flex-flow: column wrap;
			margin: 0;
			padding: 0;
			overflow: hidden;

			.container-content__column-news {
				width: 100%;
				margin-top: 1em;
				padding: 0 1em;

				.container-content__column-news__path {
					display: none;
				}

				.container-content__column-news__logo {
					margin: 0 0 .5em 0;
					padding: 0;
				}

				.container-content__column-news__article {
					display: flex;
					flex-flow: row wpar;
					justify-content: space-between;
					
					.container-content__column-news__article__link {
						width: 35%;
    					height: calc(100% - 1em);

						.container-content__column-news__article-image {
							width: 100%;
							height: 100%;
							padding: 0;
						}
					}

					.container-content__column-news__article-block {
						padding: 0;
						margin: 0;

						.container-content__column-news__article-link {
							padding: 0;
							margin: 0;
						}

						.container-content__column-news__article-text {
							padding: 0;
							margin: 0;
						}
					}					
				}

				.container-content__column-news__foto-block {
					
					.container-content__column-news__foto-block__containers {
						width: 100%;
						display: flex;
						flex-direction: column;

						.container-content__column-news__foto-block__container {
							display: flex;
							flex-flow: row wpar;
							justify-content: space-between;
							width: 100%;
							height: 10em;

							.container-content__column-news__foto-block__container__link {
								width: 12.5em;
								margin-right: 1em;
								display: inline-block;
								height: 100%;

								.container-content__column-news__foto-block__container-image {
									width: 100%;
									height: 100%;
									padding: 0;
								}
							}

							.container-content__column-news__foto-block__container-block {
								width: calc(100% - 14em);
							}
						}
					}
				}

				.container-content__column-news__event-calendar {
					margin-top: 3em;
				}
			}

			.container-content__column-navigation {
				display: flex;
				flex-direction: column;
				justify-content: center;	
				width: calc(100% - 1em);
				margin-top: 1em;
				margin: 1em;

				.container-content__column-navigation__buy-tickets {
					height: 10em;
					background-position: 110% -10%, 5% 10%;
					background-size: 40% auto, 25% auto;

					.container-content__column-navigation__buy-tickets__phone {
						margin-top: 12%;
						width: 60%;
					}
				}

				.container-content__column-navigation__article-list__button {
					font-size: $font-size*.95;
					margin-bottom: 2em;
				}
			}
		}

		.conatiner-footer {
			
			.conatiner-footer__to-up {
				font-size: $font-size*1.1;
				margin-top: 1.5em;
				background-size: 2% auto;
			}

			.conatiner-footer__blocks {
				display: flex;
				flex-direction: column;
				
				.conatiner-footer__block-about {
					width: 100%;
					
					.footer__block-about__text-head {
						font-size: $font-size;
						margin-bottom: 0em;
					}

					.footer__block-about__text {
						font-weight: 500;
						font-size: $font-size*.95;
					}

					.footer__block-about__button {
						font-size: $font-size;
					}
				}

				.conatiner-footer__block-site-map {
					width: 100%;
					margin-top: 2em;
					padding: 0;

					.footer__block-site-map__form {
						height: 2.5em;

						.block-site-map__form-search,
						.block-site-map__form-submit {
							height: 100%;
						}
					}

					.footer__block-site-map__menu {
						display: flex;
						flex-direction: column;
						padding: 0;
						margin: 0;
						border: 0;

						.footer__block-site-map__menu-nav {
							width: 100%;

							.footer__block-about__text-head {
								display: none;
							}
							
							#footer-ckeck1:checked, #footer-ckeck2:checked, #footer-ckeck3:checked, 
							#footer-ckeck4:checked, #footer-ckeck5:checked, #footer-ckeck6:checked {
								&~.block-site-map__menu-nav__block {
									display: inline-block;
								}

								&~.footer__block-site-map__menu-nav__label {
									background: url('../../public/images/arrow-up-footer.svg') no-repeat 99% center;
									background-size: 3% auto;
								}
							}

							.block-site-map__menu-nav__block {
								display: none;
								width: 100%;
								background: #212D6A;

								.block-site-map__menu-nav__list {
									padding-left: 2em;
									width: 100%;

									.block-site-map__menu-nav__list-item {
										padding: .5em 0;

										.block-site-map__menu-nav__list-item-link {
											display: inline-block;
											width: 100%;
										}
									}
								}
							}

							.footer__block-site-map__menu-nav__label {
								display: inline-block;
								padding: .5em 0;
								cursor: pointer;
								width: 100%;
								border-bottom: .2em solid #1F2A63;
								background: url('../../public/images/arrow-down-footer.svg') no-repeat 99% center;
								background-size: 3% auto;
							}
						}
					}
				}
			}
		}
	}
}